# Aircraft Incident Analysis

This project aims to investigate a dataset sourced from Kaggle containing information on aviation incidents from <> to <>

(more detail to come)

In [1]:
import pandas as pd
import numpy as np

c:\Users\celli\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
# read in dataset
df = pd.read_csv('Aircraft_Incident_Dataset.csv')

In [3]:
df.head()

,Incident_Date,Aircaft_Model,Aircaft_Registration,Aircaft_Operator,Aircaft_Nature,Incident_Category,Incident_Cause(es),Incident_Location,Aircaft_Damage_Type,Date,...,Onboard_Crew,Onboard_Passengers,Onboard_Total,Fatalities,Aircaft_First_Flight,Aircraft_Phase,Departure_Airport,Destination_Airport,Ground_Casualties,Collision_Casualties
0,03-JAN-2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,Domestic Non Scheduled Passenger,Accident | repairable-damage,"Airplane - Engines, Airplane - Engines - Prop/...",near Venetia Mine...,Substantial,Monday 3 January 2022,...,Fatalities: 0 / Occupants: 3,Fatalities: 0 / Occupants: 4,Fatalities: 0 / Occupants: 7,0,1995-05-19 (26 years 8 months),Landing (LDG),Johannesburg-O.R. Tambo International Airport ...,"Venetia Mine Airport (FAVM) , South Africa",NaN,NaN
1,04-JAN-2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA,Domestic Scheduled Passenger,Accident | repairable-damage,"Airplane - Undercarriage, Airplane - Undercarr...",Roatán-Juan ...,Substantial,Tuesday 4 January 2022,...,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants: 19,0,1985,Landing (LDG),La Ceiba-Goloson International Airport (LCE/MH...,Roatán-Juan Manuel Gálvez International Airpor...,NaN,NaN
2,05-JAN-2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,Domestic Scheduled Passenger,Accident | repairable-damage,"Airplane - Undercarriage, Airplane - Undercarr...",Isfahan-Shah...,Substantial,Wednesday 5 January 2022,...,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants: 116,0,1992-09-18 (29 years 4 months),Landing (LDG),"Mashhad Airport (MHD/OIMM) , Iran","Isfahan-Shahid Beheshti Airport (IFN/OIFM) , Iran",NaN,NaN
3,08-JAN-2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",Cargo,Accident | hull-loss,"Cargo - Fire/smoke, Result - Damaged on the gr...",Hangzhou-Xia...,Destroyed,Saturday 8 January 2022,...,Fatalities: 0 / Occupants: 8,Fatalities: 0 / Occupants: 0,Fatalities: 0 / Occupants: 8,0,2002-07-18 (19 years 6 months),Standing (STD),Hangzhou-Xiaoshan International Airport (HGH/Z...,"Novosibirsk-Tolmachevo Airport (OVB/UNNT) , Ru...",NaN,NaN
4,12-JAN-2022,Beechcraft 200 Super King Air,NaN,private,Illegal Flight,"Criminal occurrence (sabotage, shoot down) | h...",Result - Damaged on the ground,"Machakilha, ...",Damaged beyond repair,Wednesday 12 January 2022,...,Fatalities: 0 / Occupants: 0,Fatalities: 0 / Occupants: 0,Fatalities: 0 / Occupants: 0,0,NaN,Standing (STD),?,?,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23519 entries, 0 to 23518
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Incident_Date         23519 non-null  object
 1   Aircaft_Model         23519 non-null  object
 2   Aircaft_Registration  21958 non-null  object
 3   Aircaft_Operator      23519 non-null  object
 4   Aircaft_Nature        23519 non-null  object
 5   Incident_Category     23519 non-null  object
 6   Incident_Cause(es)    23519 non-null  object
 7   Incident_Location     22587 non-null  object
 8   Aircaft_Damage_Type   22751 non-null  object
 9   Date                  23519 non-null  object
 10  Time                  9203 non-null   object
 11  Arit                  23519 non-null  object
 12  Aircaft_Engines       10636 non-null  object
 13  Onboard_Crew          23519 non-null  object
 14  Onboard_Passengers    23519 non-null  object
 15  Onboard_Total         23519 non-null  object
 16  Fatalities            23519 non-null  int64
 17  Aircaft_First_Flight  18031 non-null  object
 18  Aircraft_Phase        23519 non-null  object
 19  Departure_Airport     23519 non-null  object
 20  Destination_Airport   23519 non-null  object
 21  Ground_Casualties     347 non-null    object
 22  Collision_Casualties  292 non-null    object
dtypes: int64(1), object(22)
memory usage: 4.1+ MB

In [7]:
df.columns

Index(['Incident_Date', 'Aircaft_Model', 'Aircaft_Registration',
       'Aircaft_Operator', 'Aircaft_Nature', 'Incident_Category',
       'Incident_Cause(es)', 'Incident_Location', 'Aircaft_Damage_Type',
       'Date', 'Time', 'Arit', 'Aircaft_Engines', 'Onboard_Crew',
       'Onboard_Passengers', 'Onboard_Total', 'Fatalities',
       'Aircaft_First_Flight', 'Aircraft_Phase', 'Departure_Airport',
       'Destination_Airport', 'Ground_Casualties', 'Collision_Casualties'],
      dtype='object')

In [8]:
df.isna().sum()

Incident_Date               0
Aircaft_Model               0
Aircaft_Registration     1561
Aircaft_Operator            0
Aircaft_Nature              0
Incident_Category           0
Incident_Cause(es)          0
Incident_Location         932
Aircaft_Damage_Type       768
Date                        0
Time                    14316
Arit                        0
Aircaft_Engines         12883
Onboard_Crew                0
Onboard_Passengers          0
Onboard_Total               0
Fatalities                  0
Aircaft_First_Flight     5488
Aircraft_Phase              0
Departure_Airport           0
Destination_Airport         0
Ground_Casualties       23172
Collision_Casualties    23227
dtype: int64

In [10]:
# why are there so many nulls in registration, location, engines?
# Ground casualties and collision casualties makes sense because 0 casualties is likely logged as NaN
# let's replace casualities' NaNs with 0

df['Ground_Casualties'] = df['Ground_Casualties'].fillna(0)
df['Collision_Casualties'] = df['Collision_Casualties'].fillna(0)

In [11]:
df.isna().sum()

Incident_Date               0
Aircaft_Model               0
Aircaft_Registration     1561
Aircaft_Operator            0
Aircaft_Nature              0
Incident_Category           0
Incident_Cause(es)          0
Incident_Location         932
Aircaft_Damage_Type       768
Date                        0
Time                    14316
Arit                        0
Aircaft_Engines         12883
Onboard_Crew                0
Onboard_Passengers          0
Onboard_Total               0
Fatalities                  0
Aircaft_First_Flight     5488
Aircraft_Phase              0
Departure_Airport           0
Destination_Airport         0
Ground_Casualties           0
Collision_Casualties        0
dtype: int64

In [ ]:
# that takes care of those two. Let's make a copy of the df, then I'll remove the NaNs from the copy. 
# might want to do some analysis on the NaNs later

In [79]:
df_copy = df.copy()

In [80]:
df_clean = df_copy.dropna()

In [81]:
df_clean.isna().sum()

Incident_Date           0
Aircaft_Model           0
Aircaft_Registration    0
Aircaft_Operator        0
Aircaft_Nature          0
Incident_Category       0
Incident_Cause(es)      0
Incident_Location       0
Aircaft_Damage_Type     0
Date                    0
Time                    0
Arit                    0
Aircaft_Engines         0
Onboard_Crew            0
Onboard_Passengers      0
Onboard_Total           0
Fatalities              0
Aircaft_First_Flight    0
Aircraft_Phase          0
Departure_Airport       0
Destination_Airport     0
Ground_Casualties       0
Collision_Casualties    0
dtype: int64

In [82]:
# nice

In [83]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5745 entries, 0 to 23486
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Incident_Date         5745 non-null   object
 1   Aircaft_Model         5745 non-null   object
 2   Aircaft_Registration  5745 non-null   object
 3   Aircaft_Operator      5745 non-null   object
 4   Aircaft_Nature        5745 non-null   object
 5   Incident_Category     5745 non-null   object
 6   Incident_Cause(es)    5745 non-null   object
 7   Incident_Location     5745 non-null   object
 8   Aircaft_Damage_Type   5745 non-null   object
 9   Date                  5745 non-null   object
 10  Time                  5745 non-null   object
 11  Arit                  5745 non-null   object
 12  Aircaft_Engines       5745 non-null   object
 13  Onboard_Crew          5745 non-null   object
 14  Onboard_Passengers    5745 non-null   object
 15  Onboard_Total         5745 non-null   object
 16  Fatalities            5745 non-null   int64
 17  Aircaft_First_Flight  5745 non-null   object
 18  Aircraft_Phase        5745 non-null   object
 19  Departure_Airport     5745 non-null   object
 20  Destination_Airport   5745 non-null   object
 21  Ground_Casualties     5745 non-null   object
 22  Collision_Casualties  5745 non-null   object
dtypes: int64(1), object(22)
memory usage: 1.1+ MB

In [84]:
df_clean.head()

,Incident_Date,Aircaft_Model,Aircaft_Registration,Aircaft_Operator,Aircaft_Nature,Incident_Category,Incident_Cause(es),Incident_Location,Aircaft_Damage_Type,Date,...,Onboard_Crew,Onboard_Passengers,Onboard_Total,Fatalities,Aircaft_First_Flight,Aircraft_Phase,Departure_Airport,Destination_Airport,Ground_Casualties,Collision_Casualties
0,03-JAN-2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,Domestic Non Scheduled Passenger,Accident | repairable-damage,"Airplane - Engines, Airplane - Engines - Prop/...",near Venetia Mine...,Substantial,Monday 3 January 2022,...,Fatalities: 0 / Occupants: 3,Fatalities: 0 / Occupants: 4,Fatalities: 0 / Occupants: 7,0,1995-05-19 (26 years 8 months),Landing (LDG),Johannesburg-O.R. Tambo International Airport ...,"Venetia Mine Airport (FAVM) , South Africa",0,0
2,05-JAN-2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,Domestic Scheduled Passenger,Accident | repairable-damage,"Airplane - Undercarriage, Airplane - Undercarr...",Isfahan-Shah...,Substantial,Wednesday 5 January 2022,...,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants: 116,0,1992-09-18 (29 years 4 months),Landing (LDG),"Mashhad Airport (MHD/OIMM) , Iran","Isfahan-Shahid Beheshti Airport (IFN/OIFM) , Iran",0,0
3,08-JAN-2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",Cargo,Accident | hull-loss,"Cargo - Fire/smoke, Result - Damaged on the gr...",Hangzhou-Xia...,Destroyed,Saturday 8 January 2022,...,Fatalities: 0 / Occupants: 8,Fatalities: 0 / Occupants: 0,Fatalities: 0 / Occupants: 8,0,2002-07-18 (19 years 6 months),Standing (STD),Hangzhou-Xiaoshan International Airport (HGH/Z...,"Novosibirsk-Tolmachevo Airport (OVB/UNNT) , Ru...",0,0
5,22-JAN-2022,Airbus A320-232,N760JB,JetBlue Airways,Domestic Scheduled Passenger,Accident | repairable-damage,"Landing/takeoff - Tailstrike, Result - Runway ...",Hayden-Yampa...,Substantial,Saturday 22 January 2022,...,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,0,2008-10-07 (13 years 4 months),Takeoff (TOF),"Hayden-Yampa Valley Airport, CO (HDN/KHDN) , U...","Fort Lauderdale International Airport, FL (FLL...",0,0
13,02-JAN-2021,Beechcraft 200 Super King Air,N831WP,Vagus Group,Unknown,Accident | repairable-damage,Info-Unavailable,White Plains...,Unknown,Saturday 2 January 2021,...,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,0,1979,Takeoff (TOF),"White Plains-Westchester County Airport, NY (H...","New Bedford Airport, MA (EWB/KEWB) , United St...",0,0

In [85]:
# what datatypes need to be fixed
# datetime --> incident date, date, aircraft first flight (needs separation)
# int - onboard_crew, onboard_passengers, onboard_total, fatalities, ground_cas, collision_cas

#separartions

#incident category
    # separarte by pipe
#incident causes
    # separate by commas then - --> need to investigate more
    # pull out result as separate column as well
#onboards
    # separate into crew/pass/total onboard, crew/pass/total fatal
#aircraft first flight
    # separate into date and age
# dept and dest airports 
    # separate to country, potentially city? See if we have enough on the IATA codes (or other codes?) for mapping

let's start with the incident_date column. there's another column called date that has the same information but with a day of week even. Let's drop the incident date column and just use the date column.

In [86]:
df_clean = df_clean.drop(columns = ['Incident_Date'])

In [87]:
# okay now let's fix the date column

df_clean[['Day_of_Week','Date']] = df['Date'].str.split(" ", n=1, expand=True)
df_clean['Date'] = pd.to_datetime(df_clean['Date'])

In [88]:
df_clean.head()

,Aircaft_Model,Aircaft_Registration,Aircaft_Operator,Aircaft_Nature,Incident_Category,Incident_Cause(es),Incident_Location,Aircaft_Damage_Type,Date,Time,...,Onboard_Passengers,Onboard_Total,Fatalities,Aircaft_First_Flight,Aircraft_Phase,Departure_Airport,Destination_Airport,Ground_Casualties,Collision_Casualties,Day_of_Week
0,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,Domestic Non Scheduled Passenger,Accident | repairable-damage,"Airplane - Engines, Airplane - Engines - Prop/...",near Venetia Mine...,Substantial,2022-01-03,08:10,...,Fatalities: 0 / Occupants: 4,Fatalities: 0 / Occupants: 7,0,1995-05-19 (26 years 8 months),Landing (LDG),Johannesburg-O.R. Tambo International Airport ...,"Venetia Mine Airport (FAVM) , South Africa",0,0,Monday
2,Boeing 737-4H6,EP-CAP,Caspian Airlines,Domestic Scheduled Passenger,Accident | repairable-damage,"Airplane - Undercarriage, Airplane - Undercarr...",Isfahan-Shah...,Substantial,2022-01-05,17:07,...,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants: 116,0,1992-09-18 (29 years 4 months),Landing (LDG),"Mashhad Airport (MHD/OIMM) , Iran","Isfahan-Shahid Beheshti Airport (IFN/OIFM) , Iran",0,0,Wednesday
3,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",Cargo,Accident | hull-loss,"Cargo - Fire/smoke, Result - Damaged on the gr...",Hangzhou-Xia...,Destroyed,2022-01-08,04:40,...,Fatalities: 0 / Occupants: 0,Fatalities: 0 / Occupants: 8,0,2002-07-18 (19 years 6 months),Standing (STD),Hangzhou-Xiaoshan International Airport (HGH/Z...,"Novosibirsk-Tolmachevo Airport (OVB/UNNT) , Ru...",0,0,Saturday
5,Airbus A320-232,N760JB,JetBlue Airways,Domestic Scheduled Passenger,Accident | repairable-damage,"Landing/takeoff - Tailstrike, Result - Runway ...",Hayden-Yampa...,Substantial,2022-01-22,11:57 LT,...,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,0,2008-10-07 (13 years 4 months),Takeoff (TOF),"Hayden-Yampa Valley Airport, CO (HDN/KHDN) , U...","Fort Lauderdale International Airport, FL (FLL...",0,0,Saturday
13,Beechcraft 200 Super King Air,N831WP,Vagus Group,Unknown,Accident | repairable-damage,Info-Unavailable,White Plains...,Unknown,2021-01-02,15:00,...,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,0,1979,Takeoff (TOF),"White Plains-Westchester County Airport, NY (H...","New Bedford Airport, MA (EWB/KEWB) , United St...",0,0,Saturday

In [89]:
df_clean['Year'] = df_clean['Date'].dt.year
df_clean['Month'] = df_clean['Date'].dt.month_name()
df_clean['Day'] = df_clean['Date'].dt.day
df_clean['Day_of_Week'] = df_clean['Date'].dt.day_name()

In [90]:
df_clean.head()

,Aircaft_Model,Aircaft_Registration,Aircaft_Operator,Aircaft_Nature,Incident_Category,Incident_Cause(es),Incident_Location,Aircaft_Damage_Type,Date,Time,...,Aircaft_First_Flight,Aircraft_Phase,Departure_Airport,Destination_Airport,Ground_Casualties,Collision_Casualties,Day_of_Week,Year,Month,Day
0,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,Domestic Non Scheduled Passenger,Accident | repairable-damage,"Airplane - Engines, Airplane - Engines - Prop/...",near Venetia Mine...,Substantial,2022-01-03,08:10,...,1995-05-19 (26 years 8 months),Landing (LDG),Johannesburg-O.R. Tambo International Airport ...,"Venetia Mine Airport (FAVM) , South Africa",0,0,Monday,2022,January,3
2,Boeing 737-4H6,EP-CAP,Caspian Airlines,Domestic Scheduled Passenger,Accident | repairable-damage,"Airplane - Undercarriage, Airplane - Undercarr...",Isfahan-Shah...,Substantial,2022-01-05,17:07,...,1992-09-18 (29 years 4 months),Landing (LDG),"Mashhad Airport (MHD/OIMM) , Iran","Isfahan-Shahid Beheshti Airport (IFN/OIFM) , Iran",0,0,Wednesday,2022,January,5
3,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",Cargo,Accident | hull-loss,"Cargo - Fire/smoke, Result - Damaged on the gr...",Hangzhou-Xia...,Destroyed,2022-01-08,04:40,...,2002-07-18 (19 years 6 months),Standing (STD),Hangzhou-Xiaoshan International Airport (HGH/Z...,"Novosibirsk-Tolmachevo Airport (OVB/UNNT) , Ru...",0,0,Saturday,2022,January,8
5,Airbus A320-232,N760JB,JetBlue Airways,Domestic Scheduled Passenger,Accident | repairable-damage,"Landing/takeoff - Tailstrike, Result - Runway ...",Hayden-Yampa...,Substantial,2022-01-22,11:57 LT,...,2008-10-07 (13 years 4 months),Takeoff (TOF),"Hayden-Yampa Valley Airport, CO (HDN/KHDN) , U...","Fort Lauderdale International Airport, FL (FLL...",0,0,Saturday,2022,January,22
13,Beechcraft 200 Super King Air,N831WP,Vagus Group,Unknown,Accident | repairable-damage,Info-Unavailable,White Plains...,Unknown,2021-01-02,15:00,...,1979,Takeoff (TOF),"White Plains-Westchester County Airport, NY (H...","New Bedford Airport, MA (EWB/KEWB) , United St...",0,0,Saturday,2021,January,2

In [91]:
#now let's do incident category
# we want to split by the pipe

df_clean[['Incident_Gen_Category','Incident_Detail_Category']] = df['Incident_Category'].str.split('|', n=1, expand=True)
df_clean = df_clean.drop(columns = ['Incident_Category'])
df_clean.head()

,Aircaft_Model,Aircaft_Registration,Aircaft_Operator,Aircaft_Nature,Incident_Cause(es),Incident_Location,Aircaft_Damage_Type,Date,Time,Arit,...,Departure_Airport,Destination_Airport,Ground_Casualties,Collision_Casualties,Day_of_Week,Year,Month,Day,Incident_Gen_Category,Incident_Detail_Category
0,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,Domestic Non Scheduled Passenger,"Airplane - Engines, Airplane - Engines - Prop/...",near Venetia Mine...,Substantial,2022-01-03,08:10,03-JAN-2022,...,Johannesburg-O.R. Tambo International Airport ...,"Venetia Mine Airport (FAVM) , South Africa",0,0,Monday,2022,January,3,Accident,repairable-damage
2,Boeing 737-4H6,EP-CAP,Caspian Airlines,Domestic Scheduled Passenger,"Airplane - Undercarriage, Airplane - Undercarr...",Isfahan-Shah...,Substantial,2022-01-05,17:07,05-JAN-2022,...,"Mashhad Airport (MHD/OIMM) , Iran","Isfahan-Shahid Beheshti Airport (IFN/OIFM) , Iran",0,0,Wednesday,2022,January,5,Accident,repairable-damage
3,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",Cargo,"Cargo - Fire/smoke, Result - Damaged on the gr...",Hangzhou-Xia...,Destroyed,2022-01-08,04:40,08-JAN-2022,...,Hangzhou-Xiaoshan International Airport (HGH/Z...,"Novosibirsk-Tolmachevo Airport (OVB/UNNT) , Ru...",0,0,Saturday,2022,January,8,Accident,hull-loss
5,Airbus A320-232,N760JB,JetBlue Airways,Domestic Scheduled Passenger,"Landing/takeoff - Tailstrike, Result - Runway ...",Hayden-Yampa...,Substantial,2022-01-22,11:57 LT,22-JAN-2022,...,"Hayden-Yampa Valley Airport, CO (HDN/KHDN) , U...","Fort Lauderdale International Airport, FL (FLL...",0,0,Saturday,2022,January,22,Accident,repairable-damage
13,Beechcraft 200 Super King Air,N831WP,Vagus Group,Unknown,Info-Unavailable,White Plains...,Unknown,2021-01-02,15:00,02-JAN-2021,...,"White Plains-Westchester County Airport, NY (H...","New Bedford Airport, MA (EWB/KEWB) , United St...",0,0,Saturday,2021,January,2,Accident,repairable-damage

In [93]:
# now incident causes
# split first by commas
# but let's look a little more in detail into what that column has
df_clean.reset_index(drop=True, inplace=True)
df_clean['Incident_Cause(es)'][1]

# okay I'm leaving this for now because it's annoying and too much to think about rn

'Airplane - Undercarriage, Airplane - Undercarriage - Landing gear collapse, Result - Runway mishap'

In [94]:
# okay let's look at aircraft first flight - basically age
df_clean['Aircaft_First_Flight'].head()

0    1995-05-19  (26 years 8 months)
1    1992-09-18  (29 years 4 months)
2    2002-07-18  (19 years 6 months)
3    2008-10-07  (13 years 4 months)
4                               1979
Name: Aircaft_First_Flight, dtype: object

In [98]:
len(df_clean['Aircaft_First_Flight'][0])

31

In [99]:
for x in df_clean['Aircaft_First_Flight']:
    if len(x) < len(df_clean['Aircaft_First_Flight'][0]):
        print (x)

# okay so theres quite a lot that are just the year. What we'll do is just extract the year and calculate the age from the year.

1979
1989
1969
1998
2007
2011-02-03  (10 years )
2011
2008
1979
1946
2016
1995
1997
1998
1981
2016-03-22  (5 years )
1982
1975
2008
2020
1978
1982
2001
2013-06-08  (8 years )
2015
1988
2000
1975-07-23  (46 years)
1973
1984
1982
1996
1959
2014
1960
1989
2002
2001
2005
2008
2019-03-30  (2 years 5 months)
1989
2020
2009
2014
2003
1979
2018-09-11  (3 years )
2000
1987
1969
1987
1987
2007
2009
2014
2020-05-07  (1 year 6 months)
1995
2013
2002
2002
1994
1974
2009
2004
2016-06-21  (3 years 7 months)
2013-05-30  (6 years 7 months)
2017-05-09  (2 years 8 months)
1997
1981
1986
2006
1994
2014
1999
2009-01-23  (11 years )
2000
2012
1982
2018
2007
1956
2013
2000
1982
1980
1985
2002
2005
1976
1983
2018
2006
2010
1995
1962
2005
1998
1990
2013
1982
1984
1979
1995
2016
2019-05-20  (1 year )
2005
1977
1987
1994
1974
2017-05-05  (3 years 4 months)
1984
2012-02-12  (8 years 7 months)
2009
2002
1989
1969
1991
1976
1978
2008
1982
2001
1995
1991
1983
1976
1997
1944
1999-02-18  (20 years)
1996-01-19  (23 years )
1977
2000
1977
1955
2017-06-23  (1 year 8 months)
1999
2015-10-14  (3 years 4 months)
2008
1999
2019
2015-10-13  (3 years 5 months)
2004
1996
1945
1995
2018-10-30  (4 months)
2010
2015-02-18  (4 years )
1972
1978
2012
2010
1991
2014-04-04  (5 years )
1980
2013
1996
1987
1981
2001-04-12  (18 years )
1942
2017
1989
2011
1997
1956
1982
1985
2001
1984
2009-06-15  (10 years)
1986-06-23  (33 years )
2005
2013-01-15  (6 years 5 months)
1943
1993
2017
1995
1988
2015-06-15  (4 years )
2000-07-28  (19 years)
1998
1981
2014
2008
1953
2014-07-10  (5 years )
2015
2008
1998
1991
2017-01-31  (2 years 6 months)
1987
2018
2015
1971
1997
2013
2003
1990
2002
2014-11-21  (4 years 9 months)
1987
2006
1986
2008
2014-06-12  (5 years 3 months)
2014-06-27  (5 years 2 months)
1957
1996
1988
1971
1997
1971
1944
1968
2017
1997
1944
2003
1957
1998
2012
2006
2018-03-10  (1 year 8 months)
2013-08-23  (6 years 3 months)
1943
1988
1998
1979
2003
2017
2014-11-20  (3 years 2 months)
2015-05-14  (2 years 8 months)
2007
1983
2012-11-15  (5 years 2 months)
2007
2010
1993
1990
2000
1976
1973
2001
2001
2004
2008-07-29  (9 years 8 months)
1997-04-07  (21 years)
1969
1984
1972
1987
2012
2011
2009
1999
1998
1981
2002
1996
1997
1993
2014-04-08  (4 years )
1984
2018-02-01  (3 months)
2008
1965
1983
2013-04-13  (5 years )
2014
2015-02-03  (3 years 3 months)
2014-11-26  (3 years 5 months)
1975
2009-03-05  (9 years 2 months)
2005
1999
1995
2001
1980
2012
1996
1996
2013
1989
2007
2007
1980
2013-10-22  (4 years 8 months)
1994
2006
2016-04-04  (2 years 3 months)
1960
2012-07-03  (6 years )
1954
1957
1943
1945
2008
1945
2014
2006
1985
2008
2013
1939
2013
2016-07-12  (2 years )
2015-03-23  (3 years 5 months)
2012
1995
2017-12-11  (8 months)
2010-01-14  (8 years 7 months)
1968
1999
2017-01-19  (1 year 7 months)
2013
1984
1982
2017
1978
1980
2001
1991
2012-08-13  (6 years 2 months)
2014
2018-07-30  (3 months)
1981
2013
2001
2009
1980
2017-11-12  (1 year 1 months)
1991
1999
2003-01-13  (14 years )
2015
1970
1985
1983
1948
1979
1990-02-07  (27 years)
1994
1988
2004
1996
2010-02-15  (7 years )
1992
1968
2002
2015-11-21  (1 year 4 months)
1943
1981
1976
1979
1998-03-02  (19 years 1 month)
1991-03-27  (26 years )
2014-08-14  (2 years 8 months)
1993
2008
1991
1971
2013
2005
2006
1992
1979-05-31  (38 years)
1981
1973
2007
2004
2014
1979-05-22  (38 years )
2004
2001
1998
1988-05-17  (29 years )
2014
1984
1966
1967
1993
2016-11-29  (7 months)
1974
2016-09-19  (9 months)
2001
2010
1989
2000
1982
2007
1985
1992
2009-07-16  (8 years )
2009-07-16  (8 years )
1988
1954
1999
2004
1986
1969
1987
2009-06-28  (8 years 2 months)
1999
2014-01-20  (3 years 8 months)
2004
2015-06-10  (2 years 3 months)
2006-09-15  (11 years )
2004
2007
2010-08-10  (7 years 2 months)
2010-05-24  (7 years 4 months)
2009-01-14  (8 years 9 months)
1990
1994
1988
2012-02-10  (5 years 8 months)
1975
2012-04-14  (5 years 6 months)
2009
1980
2002
1996
1989
2011
1990
1998
1990
2016-05-03  (1 year 6 months)
2015
1997
2005
2013-04-25  (4 years 7 months)
2007
2012-03-09  (5 years 9 months)
2010-02-19  (7 years 9 months)
2014-03-15  (3 years 9 months)
2013-09-30  (4 years 2 months)
2017-07-31  (4 months)
2010-07-17  (7 years 5 months)
1979
1988
2007
1988
1998
1969
2002
2001
1996
2006
1979
1993
1982
2007-12-11  (8 years 1 months)
2001
1999
1978
2010
1990
1977
1982
1986
2003
1975
2014
2001
2015
1970
1984
2005
1993
2010-12-21  (5 years 3 months)
1980
2007
2009
2014-10-30  (1 year 5 months)
2014-09-22  (1 year 7 months)
2010
1944
1994
1977
2010
1953
1985
2012-11-21  (3 years 6 months)
1977
2016-03-21  (2 months)
1992
1963
1980
2009
1991
2004
1995
1994
2014
1956
1980
1990
2006-11-05  (9 years 8 months)
1987
2014
1976
2015
1994
1994
2014
1979
1986
1994
1996
1974
2000
2014
1976
1986-09-24  (30 years)
2008
1979
1983
1992
1992
1995
1975
1974
2014
1989
1983-10-18  (33 years )
2015-11-20  (11 months)
1983
2000
1972
1969
1972
2000
2001
2010-03-16  (6 years 8 months)
1978
2011-07-16  (5 years 5 months)
1977
1975
1990
1980
2007-05-03  (9 years 7 months)
2015-08-27  (1 year 3 months)
2008-06-12  (8 years 6 months)
2010
2009
2014-10-08  (2 years 2 months)
1983
2015-02-04  (1 year 11 months)
1996
2012
1972
1981
2004
1980
2013-12-14  (1 year 1 months)
2014-03-28  (10 months)
1988
1987
2012
1987-03-18  (28 years)
1983
2014-04-29  (10 months)
1991
2011
1996
2005
2011-02-23  (4 years )
1988
1978
2007
2008
1993
1977
2007-08-30  (7 years 8 months)
1986
2006-10-18  (8 years 6 months)
2015-05-09  ()
2011
1981
1996
1979
1980
1960
2007
1978
1978
2006
1999
1990-07-09  (25 years)
1985
1991
1958
1987-06-19  (28 years )
1961
1974
2005
1980
2000
1992
1986
2004
2010
1990
1982
2015
2001
1987
1974
1972
1969
1975
1984
2008
1980
2001
1988
2001
1979
2014-02-01  (1 year 7 months)
1954
2008-07-09  (7 years 2 months)
1970
2012-04-23  (3 years 5 months)
1944
1978
2012
1981
2011
1981
2002
1979
1998
2013-11-02  (2 years)
2012
1999
1993
1969
1979
1998
2004
2000
2015-01-30  (10 months)
2011-07-13  (4 years 5 months)
2008
2008
1990
2000
2006
1994
2004
2011-07-27  (4 years 5 months)
2005
1980
2012-11-16  (1 year 2 months)
1981
2003
2000
1974
1988-01-08  (26 years )
1997-02-15  (17 years)
1988
2007-05-30  (6 years 8 months)
1998
2010
2007
1980
1983
1971
1976
2012-11-12  (1 year 3 months)
2012-01-11  (2 years 1 months)
1990
1975
2011
1991-03-13  (23 years )
2013-07-16  (8 months)
2005
2002
2004-03-24  (10 years )
1982
2008
2002
1943
2011
1990
2001
1960
1969
2000
1994
1967
2013-08-13  (10 months)
2005
1961
1988
1983
1999
1999-06-05  (15 years )
1985
1973
2006-03-08  (8 years 4 months)
2011-01-11  (3 years 6 months)
2011-12-19  (2 years 6 months)
2007-04-06  (7 years 3 months)
1970-07-29  (44 years)
1975
2008
1999
1997-07-17  (17 years )
1982
1996
1970
1980
2009-04-22  (5 years 3 months)
1983
2006
2008
1992
2011
1987
1989
1982
2012
2011
1980
2003
1992
1991-09-27  (23 years)
2013
2012
2004
2010-04-20  (4 years 6 months)
2010-01-27  (4 years 8 months)
2000
2006
1999
2008
1986
1998
1983
1999
2013
1979
1995
2010
1984
2001-11-09  (13 years )
2013
2008
1992-11-25  (22 years )
2009
1996
2005-03-10  (9 years 9 months)
2003
1994
2008-09-25  (6 years 3 months)
1971
1986
1994
1996
2000
1979
1986
1992
1991
1973
2010
2007
1991-02-07  (22 years )
2007
2000
1990
1988
2008
1989
2012-09-14  (7 months)
1989
2013-02-05  (2 months)
1990-04-05  (23 years )
2004-04-20  (9 years)
1985
2002
1994
1977
1982
1993
1978
1982
1986
2010
1974
2012-05-10  (1 year )
1999
2011-09-29  (1 year 8 months)
1984
2006
2007
2012-02-04  (1 year 4 months)
1989
2010
2010
1985
1971
1972
1991
1992
2005
1981
1979
1981
1988
1988
2010
2006-02-25  (7 years 4 months)
1958
2012-10-22  (9 months)
2004
2010-02-04  (3 years 6 months)
1983
2012
1969
1968
2010-03-25  (3 years 5 months)
2011-11-11  (1 year 9 months)
1988
1943
1993
1959
1995
2003
1980
1986
1986
1995
2009-04-21  (4 years 5 months)
1992
2010-03-16  (3 years 7 months)
2003
1990
1997
1971
1983
2010
2009
2013-03-06  (7 months)
1969
1975
2000
1990
1982
1969
1991
2011
1987
1979
1991
1998
2007
1989
1955
2012
1998
2013
1986
2002
1986-12-13  (27 years)
1974
1978
2002
2003
2012-05-09  (1 year 8 months)
1963
2010
1989
1989
1968
1989
2004-03-04  (8 years)
1996-02-16  (16 years )
2010
1998-02-05  (14 years )
1999
2003
1987
1971
1971
2009-09-02  (2 years 6 months)
1953
2010
1982
2004
1995
1945
2006
1992-03-17  (20 years )
2000-04-14  (12 years)
2002
1945
1981
1973
2009-09-09  (2 years 8 months)
1992
1956
1997
1971
2002
1990-06-19  (22 years)
1990
1982
1993
2005-03-03  (7 years 3 months)
1981
1986
1993
2002-12-11  (9 years 6 months)
2007
1974
2008
1987
2001
1981-07-13  (31 years )
1993
2009
1974
2011
2010
2008
1991
1991
2006-12-23  (5 years 8 months)
1976
1989
1989
1976
1986
2001
2008
1988
1991
2009-04-29  (3 years 6 months)
2001
2009
1979
1992
1991
2005
1944
1979
1990
1991
2006
1981
1988
1989
1999
1997
2001
1969
1978
1980
1944
1980
1985
1990
2008
1983
2007
2010-03-09  (10 months)
1978
1997
1977
1981-01-16  (30 years )
1967
1955
1976
2006
1997
1992
1991
2010
2008
1967
1993
1981
1984
1967
1987
2004
1981
1956
1963
2006-02-28  (5 years )
1981
1979
1956
1981
2010
1995
1977
2001-11-29  (9 years 5 months)
1971
2010-07-20  (9 months)
1997
1997
2008
2007
1982
1982
1985-04-25  (26 years )
1969
1992
2009
1954
2007
2005
2008
1985
1956
1974
2002
1973
1980
2005
2005
1984
1975
1977
2010
2008
2009
1981
2006-02-15  (5 years 5 months)
2007-07-06  (4 years )
2003
2009
1956
1976
1963
1988
1991
2010-01-19  (1 year 7 months)
2000
2000
1992
1993
2007
1978
2008-03-11  (3 years 6 months)
2002
2006
1973
1952
1989
1992
1991
1988-11-04  (23 years)
1996
1992
1988
1970
2007
1984
1996
2007
1986
1972
2002-09-09  (9 years 3 months)
2008-08-21  (3 years 4 months)
1987
2009
1979
1995
1982
1969
1977
1983
1997
1985
2000
1988
1999
1993
2002-01-18  (8 years )
1976
1982
1977
1992
2004
1995
2005
2000
1990
1969
1987-02-11  (23 years )
2006-10-18  (3 years 5 months)
1980
1988
1993
1980
2004
1990
1979-04-06  (31 years )
1985
1963
1985
1974
2005
1986
1973
2009-08-12  (9 months)
1990
1972
1976
2007-12-20  (2 years 5 months)
1990-06-14  (20 years)
2000
1979
2002
2002
2004
1999
2005-03-23  (5 years 3 months)
1944
1979
1983
1974
1978
2008-11-25  (1 year 8 months)
1972
1993
2006
2001
2001-01-24  (9 years 6 months)
1953
1954
1974
1983
1957
1988
2003-01-10  (7 years 7 months)
2008
1984
2000
1982
1992
1980
2007-09-21  (3 years)
1998
1990
1978
2005-03-04  (5 years 7 months)
1981
2002
1969
1973
1970
1995
2008-01-25  (2 years 9 months)
1978
1968
1974
1991
1988
1943
1970
1982
1973
1981
1993
1984
1991
1992
1981
1984
2009-01-13  (1 year 11 months)
1979
2008
1974
1963
1982
1943
2008
1999-06-15  (9 years 7 months)
1990
1990
1977
1999
1969
1990
1991
1947
1966
1975
2001
1986
1981
2006-02-27  (3 years)
2008-02-15  (1 years)
1987
1997
1996
1943
1944
1966
1981
2002-01-24  (7 years 1 months)
1976
2007-04-20  (1 year 11 months)
1977
1997
2004-11-04  (4 years 5 months)
1993
1998
2002-02-14  (7 years 2 months)
2006-08-16  (2 years 8 months)
1943
1990
1996
1986
1999
1982
1999
2007-05-03  (2 years )
2005-02-25  (4 years 3 months)
1973
1997
1991
1995
1986
1981
1990
1988
1987
1989
1969
1990
1976
2001
2009
1975
1969
1995
1966
1998
1974
1985
2001
1986
1995
1981
1974
2009
1990
1944
1944
1991
1969
1973
1989
1986
1976
2007
1996
1984
1985
2005
1996
1998
2006-05-18  (3 years 6 months)
1997
1996
1977
1983
1997-10-28  (12 years )
2000
1990
2001
1974
1969
1984
2001-11-30  (8 years )
1958
1969
1987
1989
2001-05-18  (6 years 8 months)
2007
1946
1993
1994
2001
1977
1971
1969
1978
2000
2001
1983
1999
1986
1997
1995
1975
1985
1998
1999
2001
1986
2002-12-13  (5 years 3 months)
1975
1981
1990
1989
1975
1984
1992
1977
1988
2007
1991
1981
1993
1990
1954
1988
1984
1989
1990
1960
1986
1968
1993
2000-11-29  (7 years 6 months)
1997
2005
1981
1967
2008-02-15  (4 months)
1990
1968
1995
1986-06-26  (22 years )
1990
1989
1993
1992
1967
1971
1996
1975
1983
1970
1999-03-09  (9 years 4 months)
1998-12-06  (9 years 8 months)
1999-03-09  (9 years 5 months)
2007
1990
1992
1981
1990
1975
1989
1975
1982
1956
1990
2005
1962
1996
1988
1992-08-22  (16 years )
1971
2006
1977
2003
1980
1975
2000
2000
1995
2008-03-17  (8 months)
1970
1970
2005-06-30  (3 years 5 months)
1987
1990
1971
1987
1975
1970-01-08  (39 years)
1966
2004
1989-01-11  (18 years)
1974
1977
1988
1979
1992
1996
1970-02-04  (37 years)
1945
1983
1969
2001
1999
1999
1998
1968
1977
1989
1993
1980
1999
1996
2005
1961
1973
1990
1996
2005-04-11  (1 year 11 months)
1976
1974
1991
2000
1976
1994
1979
1997
1984
1975
2004
1989
1986
2006-10-09  (7 months)
1981
1985
1994
1972
1944
1946
1997
1965
1981
1990
2002
2000
1996
1974
1969
1974
2000-11-28  (6 years 7 months)
1988
1974
1966
2000-03-27  (7 years 3 months)
1962
2005
1990
1968
1995
1991
1998-02-13  (9 years 5 months)
2007
1975
2002
1970
2001
2000
1964
1944
1979
1980
2006
1978
2000
2002
1981
1980
1996
1987
1992
1985
1978
1998
1998
1963
2000
1999
2001
2006
1998
1978
2000
1980
1988
1988
1974
1994
1991
1978
1979
1964
1979
1997-10-30  (10 years)
2000
1999-04-10  (8 years 7 months)
1995
1966
1981
2004
1973
1963
2006
2006
2007-09-21  (2 months)
1994
1999
1980
1975
2004
1962
1983
1991
1996
1942
1946
1985
1972
1966
2001
1985
1995
1994
1962
1975
1999-07-07  (6 years 7 months)
1977
1988-02-10  (18 years )
1967
1980
1968
1967
1998
1972
2005
2002-04-08  (4 years)
1983
1976
1997
1968
2006
1990
1991
1986
1962
1991
1978
1998
1992
1994
1981
1996-12-12  (9 years 5 months)
2003-03-19  (3 years 2 months)
1970
1954
2004
1979
1977
1985
1980
2000
1981-05-27  (25 years )
2000-11-01  (5 years 7 months)
1992-07-02  (14 years)
1999-04-08  (7 years 3 months)
2006-03-12  (3 months)
1996-07-01  (10 years)
2001
1994
1980
1963
1964
1995
1975
2000
1964
2001-01-22  (5 years 6 months)
1942
2003
2006-01-07  (7 months)
1975
2004
1955
1982
1993
1981
1982
1991
2001
1977
1998
1988
1969
2002-01-21  (4 years 8 months)
1991
1964-09-09  (42 years )
2006-08-22  (1 months)
2006
1984
1969
1992
1960
1972
1993
1962
1975
1978
1981
1969
1988
1997
2006-09-29  (2 months)
1981
1992
1984-12-19  (22 years )
2005-03-18  (1 year 9 months)
1974
1965
1962
1980
1991
1998
1964
1990
1972
1980
1978
1975
2001
1988-02-10  (17 years)
1975-01-20  (30 years )
1987
1977
2000
1986
2001
1991
1973
1968
1954
1986
1979
1991-03-29  (14 years)
1991
1999
2004
1989-03-20  (16 years)
1985
1972
2001
1974
1982
1984
1990
1983
1997
1988
1981
1969
1986
1966
1977
1976
1966
1979
1995
1983
1986
1992
1978
1976
2003
1980
1980
1977-05-25  (28 years)
1966
1988
1968
1943
1995
1966
1972
1943
1968
1956
1985
1983
1979
1978
1967
1997
1975
2000
2004
1974
1995
1999
1960
1991
2003
1997-12-27  (7 years 8 months)
1986
1996
1981-08-04  (24 years )
1998
2004-07-23  (1 year 1 months)
1969
1979
1980
1991-09-06  (14 years )
1983
1978
1969
1973
1997
1982
1963
1958
1978
1996
1997-06-14  (8 years 4 months)
1969
1988
1985
1981-11-13  (24 years)
1999
1984
1991
1972
2000
1979
1987
1989
2004
1989
1970
2004-06-29  (1 year 5 months)
1980
1972
1984
1947
2004
1966
1991
1978
1974
1990
1995
1975
1998
1968
1966
1999
1981
1969
1986
1993
2000
1954
1980
1974
1976
1980
1986
1995
1996
2001
1985
1995
1977
2000
1998-11-20  (5 years 4 months)
1993
1973
2001
1982
1972
1985
1995
1971
1981
2001
1987
1945
1995
1961
1988
1974
1985
1987
1996
2002
1989
1967
1981
1952
1953
1942
1952
1965
1980
1979
1971
1979
1956
1970
1981
1991
1984
1967
1944
1992
1973
1986-08-06  (18 years )
1953
1997
1968
1999
1977
1982
1981
1956
1963
1996
1989
1982
1987
1985
1981
1943
1980-10-24  (24 years)
2000
1945
1998
1990
1994
1979
1985
1987
1980
1981
2000
1986-10-14  (18 years )
1976
1992
1987
1980
2002
1984
1986
1983
1984
1988
1955
1957
2000
1981
1980
1975
1988-11-29  (16 years )
1944
1971
1983
1998
2001
1996
1955
1990
1985
2000
2001
1969
1965
1987
1974
1986
1989
1994
1964
1968
1983
2001
1988
1986
1981
1943
1993-08-04  (9 years 7 months)
1978
1982
1996
1992
1969
2001
1991-04-05  (12 years )
1974
1967
1968
1980
1970
1979
1968
1971
1981
1969
2000
1971
1989
1987
1990
1988
2001
2000
1981
1972
1989
1992-05-25  (11 years )
1997
2000
1996
1999
1973
1974
1990
1980
1996
1945
1998
1981
1995
1990
1987
1993
2001
1992
1977
1991
1987
1973
1978
1952
2001
1990-10-16  (13 years )
1967
1985
1991
1966
1982
1978
1974
1990-10-23  (13 years )
1965
1980
1976
1943
1981
1977
1987
1981
1986
1969
1990
1971
1968
2002
1988
2002-04-09  (1 year 9 months)
1969
1998
1943
1999
1995
1986
1981
1966
1999
1993
1990
1985
2001
1983
1991
1993
1964
1980
1969
1986
1995
1992-07-21  (9 years 8 months)
1988
1991
1940
1985
1981
1980
1991
1985
1980
1990
1973
1978
1985
1980
1977
1966
1957
2001
1999
1960
1995
1990
1999
1967
1997
1974
1978
1985
1945
1983
1986
1988
1970
1979
1944
1990
1990
1987
1994-03-31  (8 years 5 months)
1993-02-15  (9 years 7 months)
1982
1986
1959
1983
2001
1999-06-19  (3 years 4 months)
1986
1976
1999
1979
1980
1984
1991
1968
2002
1983
1980
1978
1987
1987
1980
1990
1967
1988
1992
2002
1984
1994
1981
2002
1954
1970-12-12  (32 years )
1975
1985
1994
1943
1943
1973
1976
1966-01-21  (35 years )
1956
2000
1981
1981
1985
1991-08-22  (9 years 7 months)
1998
1944
1991
1998
1992
1969
1969
1980
1956
1942
1988
1996
1985
1990
1968
1987
1989
1977
1969
1970
1975-05-02  (26 years )
1983
1990
1978
1990
1980
1987
1986
1996
1972
1943
2000
1984
2000
2000
1994
1992
1943
1966
2001
1998
1970
1999
1981
1967
1990
1990
1998
1998
1990
1996
1991
1989
1960
1984
1993-02-24  (8 years 7 months)
1986
1985
1957
1986
1990
1991
2001
1986
1976
1978
1971
1989
2000
1975
1967
1977
2000
1989
1997-05-09  (4 years 6 months)
1962
1972
1986
1996-08-16  (5 years 3 months)
1976
1985
1977
1999
1984
1998
1994
1953
1972
1982
1975-12-06  (26 years )
1986
1990
1979
1984-01-19  (18 years)
1998-10-12  (3 years 3 months)
1999-08-28  (2 years 4 months)
1984
1990
1990-01-06  (10 years )
1960
1976
1986
1991-08-06  (8 years 6 months)
1992
1998
1978
1967-03-06  (33 years)
1968-02-29  (32 years)
1969
1990-11-21  (9 years 3 months)
1976
1995
1944
1984
1998-01-20  (2 years 2 months)
1993
1968
1995
2000
1978
1962-05-09  (38 years)
1989
1973
1991
1988
1997-02-13  (3 years 3 months)
1990
1996
1981
1987
1976
1972
1976
1986
1986
1988
1982
1969
1971
1996-11-22  (3 years 7 months)
1982
1990-10-23  (9 years 9 months)
1945
1944
1975
1979
1968
1968
1960
1970
1971
1986
1975
1994-05-16  (6 years 3 months)
1981
1998
1986
1975
1957
1994-09-08  (6 years )
1968
1997
1945
1953
1970
1989
1994
1974
1994
1986
1986
1968
1967-11-27  (33 years)
1978
1975
1981
1976
1981-12-21  (19 years)
1969
2000
1944
1979
1982
1995
1995
1989
1944
1986
1993
1988
1967
1988
1983
1991-11-14  (7 years 3 months)
1992
1990
1995
1967
1984
1996
1943
1980
1981
1968
1973
1981
1992
1996
1960
1980
1991-02-06  (8 years 3 months)
1991
1983
1979
1955
1968
1958
1993
1982
1983
1991
1978-07-17  (21 years )
1999
1990
1981
1981
1974
1956
1992
1996
1973
1979
1943
1967
1992
1980
1990-08-14  (9 years 1 months)
1981
1964
1978
1988
1988
1988
1988
1988
1982
1967
1990
1978
1976
1994
1970
1944
1987
1985
1965
1991
1989
1990
1981
1981
1982
1998
1982
1991
1980
1999
1972
1969
1997
1952
1975
1990-07-05  (7 years 6 months)
1974
1987
1987
1974
1988
1987
1990
1978
1985
1967
1943
1963
1997
1939
1990-10-16  (7 years 4 months)
1976
1991
1965
1988
1982
1968
1989-01-14  (9 years 2 months)
1993
1978
1997
1969
1987
1954
1982-04-01  (16 years )
1997
1989
1981
1977
1983-04-25  (15 years )
1990
1992
1994-11-25  (3 years 6 months)
1991-11-12  (6 years 6 months)
1991
1992
1996
1991
1944
1974
1992
1982
1989
1977
1988-12-05  (9 years 7 months)
1991
1986
1974
1967
1962
1969
1944
1986
1982
1996
1996-06-18  (2 years 2 months)
1977
1998
1944
1972
1992
1968
1985
1993
1991
1992
1997-05-11  (1 year 4 months)
1997-09-12  (1 year )
1983
1983
1949
1997
1977
1972
1938
1974-09-20  (24 years )
1969
1978
1997
1988
1977
1968
1979
1968
1987
1991
1982
1978
1978
1986
1993
1974
1997
1989
1978
1994
1982
1980
1991
1989
1986
1975
1992
1963
1972
1979
1966
1977
1980
1980
1990
1986
1988
1953
1973
1981
1995
1966
1988
1943
1973
1980
1978
1944
1965
1995
1972
1978
1972
1992
1953
1993
1985
1974
1994-01-28  (3 years 3 months)
1989-03-01  (8 years 2 months)
1992
1991
1952
1996-04-16  (1 year 1 months)
1979
1992
1943
1954
1984
1993-06-03  (4 years 1 months)
1972

In [108]:
df_clean['Aircraft_AgeAtIncident'] = df_clean['Aircaft_First_Flight'].str[:4].astype(int)
df_clean['Aircraft_AgeAtIncident']

0       1995
1       1992
2       2002
3       2008
4       1979
        ...
5740    1926
5741    1928
5742    1928
5743    1926
5744    1926
Name: Aircraft_AgeAtIncident, Length: 5745, dtype: int32

In [109]:
df_clean['Aircraft_AgeAtIncident'] = df_clean['Year'] - df_clean['Aircraft_AgeAtIncident']
df_clean['Aircraft_AgeAtIncident']

0       27
1       30
2       20
3       14
4       42
        ..
5740     2
5741     0
5742     0
5743     1
5744     0
Name: Aircraft_AgeAtIncident, Length: 5745, dtype: int32

In [112]:
df_clean.head()

,Aircaft_Model,Aircaft_Registration,Aircaft_Operator,Aircaft_Nature,Incident_Cause(es),Incident_Location,Aircaft_Damage_Type,Date,Time,Arit,...,Collision_Casualties,Day_of_Week,Year,Month,Day,Incident_Gen_Category,Incident_Detail_Category,Aircraft_Debut_Year,Aircraft_Age_2024,Aircraft_AgeAtIncident
0,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,Domestic Non Scheduled Passenger,"Airplane - Engines, Airplane - Engines - Prop/...",near Venetia Mine...,Substantial,2022-01-03,08:10,03-JAN-2022,...,0,Monday,2022,January,3,Accident,repairable-damage,1995,29,27
1,Boeing 737-4H6,EP-CAP,Caspian Airlines,Domestic Scheduled Passenger,"Airplane - Undercarriage, Airplane - Undercarr...",Isfahan-Shah...,Substantial,2022-01-05,17:07,05-JAN-2022,...,0,Wednesday,2022,January,5,Accident,repairable-damage,1992,32,30
2,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",Cargo,"Cargo - Fire/smoke, Result - Damaged on the gr...",Hangzhou-Xia...,Destroyed,2022-01-08,04:40,08-JAN-2022,...,0,Saturday,2022,January,8,Accident,hull-loss,2002,22,20
3,Airbus A320-232,N760JB,JetBlue Airways,Domestic Scheduled Passenger,"Landing/takeoff - Tailstrike, Result - Runway ...",Hayden-Yampa...,Substantial,2022-01-22,11:57 LT,22-JAN-2022,...,0,Saturday,2022,January,22,Accident,repairable-damage,2008,16,14
4,Beechcraft 200 Super King Air,N831WP,Vagus Group,Unknown,Info-Unavailable,White Plains...,Unknown,2021-01-02,15:00,02-JAN-2021,...,0,Saturday,2021,January,2,Accident,repairable-damage,1979,45,42

In [113]:
#Not sure what Arit is but it has the same data as the Incident_Date column. dropping it
df_clean = df_clean.drop(columns = 'Arit')

In [119]:
len(df_clean['Time'][0])

5

In [121]:
# can we do anything with time?
for x in df_clean['Time']:
    if len(x) != 5:
        print(x)

11:57 LT
14:28 UTC
ca 18:35
c. 16:10
18:50 LT
05:08 UTC
ca 15:27
10:33 LT
15:55 UTC
ca 11:30
ca 14:39
ca 09:00
c. 08:10
c. 17:22
ca 09:15
16:37 UTC
15:22 UTC
ca 00:35
ca 00:35
ca 00:35
ca 00:35
ca 00:35
ca 00:35
ca 00:35
ca 00:35
ca 13:00
ca 23:15
22:19 UTC
ca 10:00
ca 13:29
ca 19:50
14:45 UTC
ca 05:00
c. 16:45
ca 08:30
ca 13:00
ca. 11:00
20:31 UTC
ca 19:15
ca 07:15
ca 07:15
ca 08:15
06:10 UTC
06:10 UTC
ca 01:00
ca 06:48
c. 07:30
ca 07:30
ca 11:35
ca 00:15
ca 00:15
ca 00:15
ca 00:15
ca 11:04
12:15 UTC
ca 06:45
10:08 UTC
ca 07:00
ca 04:10
ca 08:00
ca 08:00
22:00 UTC
ca 09:00
ca 02:30
ca 17:45
20:38 UTC
ca 12:20
11:15 UTC
ca 12:40
ca 10:30
ca 02:40
ca 09:45
ca 17:15
ca 14:30
ca 04:00
ca 06:50
ca 23:00
ca 15:30
ca 16:30
ca 11:45
ca 07:00
ca 08:15
ca 08:00
ca 09:05
ca 17:00
ca 14:20
ca 12:20
ca 16:00
ca 09:22
ca 08:25
ca 08:28
ca 11:05
ca 01:45
ca 16:45
ca 07:45
ca 19:30
ca 19:30
ca 19:00
07:00 UTC
ca 19:00
ca 18:10
ca 22:00
ca 12:05
ca 12:32
ca 06:13
ca 09:00
ca 19:30
ca 15:00
ca 13:30
ca 10:00
ca 08:11
ca 10:45
ca 09:30
ca 10:30
ca 16:30
ca 17:45
ca 11:30
ca 19:45
ca 16:00
ca 11:45
ca 15:00
ca 12:10
ca 13:30
12:30 UTC
ca 16:13 UTC
ca 14:00
ca 10:45
ca 10:00
ca 20:30
ca 07:00
ca 08:00
ca 19:08
ca 14:00
ca 01:00
ca 14:50
ca 10:20
ca 10:00
ca 10:00
ca 21:30
ca 13:00
ca 05:00
ca 15:30
ca 10:00
ca 09:30
ca 22:30
ca 19:00
ca 01:00
ca 09:15
ca 15:20
ca 04:00
ca 15:00
ca 17:00
ca 11:45
11:20 MSK
13:00 UTC
ca 19:45
ca 14:00
16:00 UTC
16:05 MSK
ca 11:30
ca 08:00
ca 16:00
ca 12:30
ca 13:30
ca 14:30
ca 14:00
ca 11:00
ca 20:50
ca 15:10
ca 09:30
ca 07:25
ca 11:00
ca 17:30
ca 13:30
ca 10:00
ca 12:00
ca 07:25
ca 21:15
07:55 MSK
ca 19:50
22:20 UTC
ca 15:30
21:30 MSK
ca 08:00
ca 18:00
ca 06:00
ca 13:30
ca 15:30
ca 06:30
ca 06:50
ca 05:35
ca 16:01
11:12 UTC
ca 11:00
ca 10:00
ca 14:30
ca 05:00
ca 09:15
ca 22:00
ca 11:00
ca 19:30
ca 12:00
ca 18:00
ca 09:40
ca 09:35
ca 17:00
ca 06:59
ca 11:00
ca 16:30
10:40 UTC
19:00 UTC
ca 15:00
ca 09:40
ca 10:30
ca 18:00
10:10 UTC
22:15 UTC
ca 20:55
ca 16:00
ca 09:40
ca 15:30
ca 17:10
ca 01:00
ca 14:59
23:50 UTC
ca 09:00
ca 08:35
ca 14:00
ca 08:30
ca 11:00
ca 17:45
ca 16:00
ca 08:20
ca 10:40
ca 04:17
ca 15:00
ca 00:38
ca 16:00
ca 13:00
ca 16:45
ca 12:00
ca 07:10
ca 22:00
ca 21:00
ca 08:50
ca 15:50
ca 01:36
ca 08:00
ca 17:00
ca 11:00
ca 11:50
ca 15:45
ca 04:55
ca 00:05
ca 00:05
ca 00:05
ca 20:00
ca 18:22
ca 19:00
ca 15:40
ca 07:20
ca 13:45
ca 11:30
ca 19:00
ca 13:45
ca 20:10
ca 20:10
ca 07:30
ca 07:45
ca 08:00
ca 20:35
ca 02:00
ca 13:00
ca 10:00
ca 15:15
ca 10:53
ca 12:10
15:30 UTC
ca 10:00
ca 17:45
ca 07:35
ca 10:00
ca 09:40
ca 08:40
23:00 UTC
16:35 UTC
ca 08:15
ca 15:45
ca 09:00
ca 18:30
ca 14:00
ca 13:00
ca 11:00
ca 08:15
ca 11:50
ca 22:40
ca 20:00
18:00 UTC
ca 14:25
ca 09:40
ca 10:50
ca 04:15
ca 11:45
ca 10:50
ca 07:30
ca 07:30
ca 07:00
18:18 UTC
ca 10:30
ca 11:10
ca 16:00
ca 11:30
ca 06:00
ca 08:45
22:30 UTC
ca 18:40
ca 10:00
14:25 MST
ca 12:30
ca 20:00
ca 20:00
20:41 MDT
22:20 Z
ca 07:30
ca 19:30
ca 14:15
ca 18:00
14:00 UTC
ca 21:30
ca 09:00
ca 11:00
ca 09:00
ca 11:30
ca 07:30
18:00 UTC
ca 13:35
17:37 EDT
16:20 EST
23:50 UTC
18:40 MDT
ca 18:56
ca 10:45
ca 11:35
14:57 MST
ca 19:00
ca 13:45
ca 18:00
ca 16:06
ca 18:15
ca 10:00
12:20 AST
ca 07:45
ca 16:35
ca 04:30
22:03 UTC
19:00 EDT
ca 13:00
02:07 UTC
ca 07:00
04:43 UTC
15:57 UTC
16:01 UTC
17:14 MDT
12:35 PDT
15:00 UTC
18:21 MST
ca 18:00
ca 22:45
ca 23:40
ca 09:30
ca 12:30
ca 11:30
ca 11:30
ca 11:30
ca 11:30
ca 11:30
ca 07:00
ca 14:15
21:46 UTC
ca 19:00
22:50 EDT
ca 17:00
ca 19:50
13:12 EDT
ca 10:35
17:00 UTC
14:45 UTC
15:10 UTC
15:38 UTC
ca 18:15
ca 15:10 PST
ca 06:20
ca 16:30
ca 14:00
13:20 CDT
ca 04:41
ca 11:05
13:31 UTC
01:52 EST
ca 07:30
ca 17:00
ca 09:30
ca 09:40
ca 15:00
ca 11:00
12:00 EST
22:17 UTC
ca 13:00
ca 09:35
ca 21:30
ca 00:50
ca 13:30
06:50 MDT
ca 13:30
ca 12:00
12:43 MST
ca 05:15
13:10 UTC
22:04 HST
ca 09:00
16:18 ADT
07:45 EDT
11:57 WIT
11:55 WIT
18:30 ADT
04:36 MDT
06:00 UTC
23:10 JST
09:50 MST
ca 08:55
ca 16:30
ca 19:50
ca 22:40
03:30 AST
18:03 MST
01:49 PST
20:30 UTC
08:45 MST
09:20 MST
18:04 MST
16:15 UTC
ca 13:00
11:43 MDT
ca 08:00
ca 23:00
13:42 UTC
19:10 PDT
ca 13:15 PDT
10:31 UTC
10:31 UTC
17:54 EST
ca 20:20
ca 19:15
20:15 ADT
01:35 GMT
ca 16:30
ca 07:00
ca 18:50
11:48 PDT
12:21 EST
ca 13:20
18:06 UTC
ca 17:00
ca 19:20
18:56 UTC
01:10 HST
15:22 ADT
17:15 MDT
17:35 ADT
ca. 12:00
ca 23:30
ca 07:00
09:56 UTC
13:00 UTC
ca 21:00
ca 22:00
ca 07:12
10:36 UTC
ca 14:40
19:10 PDT
ca 21:00
ca 15:05
ca 19:15
ca 15:30
ca 14:30
ca 02:00
17:45 UTC
13:30 UTC
ca 07:45
ca 15:00
09:53 MST
ca 06:00
18:37 HST
10:36 HST
ca 16:00
ca 10:00
ca 15:00
ca 07:20
ca 01:45
12:52 MST
ca 17:00
ca. 14:40
07:05 UTC
ca 05:22 UTC
ca 14:45
ca 02:10
09:33 MST
05:45 MDT
ca 05:45
ca 20:30
ca. 10:30
10:16 PST
ca 23:30
07:15 UTC
11:36 AST
01:15 ADT
23:46 MSK
ca 15:00
ca 10:30
ca 14:00
13:40 AST
10:08 UTC
ca 22:30
12:00 UTC
ca 07:40
ca 08:40
ca 15:30
ca. 15:20
17:46 UTC
13:10 MST
12:55 UTC
ca. 16:45
10:15 ADT
ca 18:00
14:30 EDT
ca 05:10
13:27 UTC
ca 17:30
ca. 10:54
ca 12:00
ca 10:00
ca 09:55
ca 11:15
12:05 EDT
18:49 MST
19:08 UTC
ca 21:30
ca 19:40
ca 21:00
ca 23:40
ca 08:52
ca 07:45
ca 09:45
21:32 UTC
ca 23:00
20:20 UTC
18:39 UTC
ca 12:55
ca 07:40
ca 21:45
ca 22:10
ca 17:30
ca 15:00
ca 13:00
19:45 MST
ca 03:35
08:49 UTC
ca 08:45
09:33 UTC
ca 16:30
14:52 ADT
ca 22:55 UTC
01:38 MST
20:14 UTC
ca 20:30
14:35 UTC
14:47 UTC
ca 12:30
ca 07:30
ca 18:00
ca 08:30
13:32 EDT
17:30 MST
ca 03:45
07:33 UTC
ca 04:25
07:20 UTC
13:48 UTC
16:11 UTC
ca 13:15
23:41 AST
00:08 UTC
03:13 GMT
06:56 UTC
09:40 UTC
20:01 UTC
ca 01:15
16:40 UTC
ca 00:20
ca 10:48
06:30 UTC
ca 22:15
ca. 13:30
19:18 UTC
ca 09:30
08:04 GMT
05:42 ADT
ca 14:00
16:01 UTC
18:04 UTC
ca 15:35
ca 15:15
19:44 EST
23:17 EST
17:10 UTC
ca 05:00
ca 02:00
13:15 UTC
ca 13:30
ca. 06:45
ca 15:05
13:55 UTC
ca 20:00
01:25 UTC
ca 13:30
ca 12:00
13:10 AST
ca 23:07
ca 02:15
ca 07:38
ca. 18:30
09:10 UTC
09:12 EST
03:12 UTC
17:29 UTC
ca 13:40
ca 21:30
ca 18:00
ca 10:00 GMT
14:42 AST
01:34 UTC
ca 12:00
ca. 12:00
17:30 UTC
13:36 UTC
09:25 MSK
ca 15:10
ca 06:50
ca 17:00
16:33 UTC
ca 09:00
ca 21:20
ca 15:35
ca 10:30
ca 16:00
16:28 UTC
04:00 UTC
ca 18:10
17:25 UTC
05:32 UTC
ca 18:00
02:56 UTC
ca 16:00
17:10 UTC
15:18 UTC
18:37 EST
10:25 UTC
09:09 UTC
ca 03:25 UTC
ca 11:30
22:02 UTC
13:27 UTC
16:00 MST
08:01 UTC
07:02 UTC
02:04 UTC
ca 13:00
ca 12:00
ca 18:35
15:12 UTC
ca 12:15
15:30 GMT
ca 10:00
ca 10:30
17:30 EST
ca 08:15
22:17 UTC
18:06 UTC
ca 23:00
ca 07:00
ca. 16:25
07:28 UTC
01:23 UTC
ca 18:40
22:40 UTC
ca 10:50
ca 15:00
ca 08:20
ca 15:30
ca 16:00
ca 18:45
09:19 UTC
ca 10:30
ca 15:00
04:00 BST
ca 17:51
04:45 UTC
ca 11:00
13:13 UTC
08:55 MSK
05:40 UTC
ca 13:55
03:04 UTC
13:27 UTC
ca 15:00
13:49 UTC
21:15 UTC
16:59 UTC
11:33 UTC
ca 11:00
10:08:49
ca 23:00
ca 01:30
14:29 UTC
11:34 UTC
ca 16:20
22:00 UTC
ca 15:15
ca 14:10
08:50 UTC
ca 16:50
12:12 UTC
ca 23:50
ca 04:35
01:20 UTC
11:36 MST
01:25 UTC
14:20 GMT
01:00 UTC
14:26 UTC
ca 10:35
ca 16:00
10:40 IST
21:10 UTC
05:55 UTC
09:46 UTC
06:47 UTC
11:15 UTC
ca 14:45
11:38 UTC
ca 11:20
ca 23:40
22:05 UTC
16:47 UTC
ca 12:00
ca 13:55
19:35 UTC
ca 10:45
21:12 UTC
ca. 17:35
ca 10:30
17:14 UTC
22:24 UTC
ca 20:30
ca 15:25
05:00 UTC
ca 22:00
ca 13:45
10:16 UTC
ca 03:50 GMT
ca 08:00
18:00 UTC
20:59 UTC
ca 01:40
ca 09:35
ca 01:55
ca 07:00
ca 18:05
ca 01:27
04:03 UTC
18:00 UTC
12:23 UTC
ca 02:45 UTC
ca 14:55
09:30 UTC
ca 20:00
ca 10:20
ca 21:00
ca 21:00
ca 03:50
ca 09:20
ca 15:15
11:12 PST
ca 09:25 UTC
ca 00:15
07:26 MST
10:00 UTC
ca 14:30
ca 17:30
ca 13:10
08:36 UTC
ca 17:45
ca 11:30
ca 11:00
ca 17:50
ca 10:00
05:31 UTC
09:28 UTC
ca 01:50
ca 16:35
ca. 15:30
ca 20:40
22:37 UTC
ca 18:30
ca 10:10
ca 17:30
ca 11:50
ca 14:10
12:20 AST
ca 09:40
ca 08:25
ca 11:56
ca 06:00
ca 21:00
10:10 EST
ca 19:00
ca 12:30
ca 18:30
ca 11:49
07:25 MST
19:45 UTC
ca 15:25
ca 14:50
ca 21:00
ca 04:00
ca 14:30
ca 04:30
02:37 MST
13:53 PST
ca 07:20
ca 11:15
ca 14:00
03:50 UTC
ca 10:45
18:00 UTC
02:51 UTC
ca 13:00
ca 20:30
21:14 UTC
ca 18:00
ca 23:30
ca 08:45
ca 17:30
ca 01:00
ca 01:30 UTC
ca 08:45
ca 16:00
12:06 UTC
ca 20:15
ca 16:00
ca 14:00
15:35 GMT
ca 13:43
ca 14:00
ca 13:30
ca 14:45
13:55 UTC
10:04 UTC
ca 12:40
21:10 MST
ca 14:00
ca 04:10
ca 18:50
ca 10:30
ca 14:30
02:09 UTC
ca 10:15
ca 10:05
ca 17:00
ca 12:35
21:05 UTC
ca 08:00
ca 06:00
ca 00:00
ca 09:20
ca 09:00
ca. 14:00
ca 10:30
ca 19:15
ca 15:50
ca 15:30 BST
ca 20:00
ca 07:15
ca 10:45
ca 02:00
ca 22:00
ca 22:00
ca 22:00
ca 16:00
ca 23:00
ca 15:10
ca 15:00
15:50 UTC
ca 10:00
ca 11:00
ca 17:30
ca 11:00
ca 15:10
ca 01:00
18:47 UTC
ca 17:15
ca 09:15
ca 23:30
ca 07:00
ca 10:45
ca 15:20
ca 13:10
04:57 GMT
ca 14:00
ca 16:25
ca 10:40
c. 15:18
00:33 UTC
ca 01:00
ca 10:50
ca 14:00
ca 11:45
ca 11:30
ca 08:15

In [ ]:
# need to investigate what all of those things mean. Things like UTC and LT are straightforward but what are c. and ca ? circa?
# If approx time then we can just use as is. I want to classify into morning evening and night



# thought - is there a dataset that has weather info?

In [123]:
df_clean.columns

Index(['Aircaft_Model', 'Aircaft_Registration', 'Aircaft_Operator',
       'Aircaft_Nature', 'Incident_Cause(es)', 'Incident_Location',
       'Aircaft_Damage_Type', 'Date', 'Time', 'Aircaft_Engines',
       'Onboard_Crew', 'Onboard_Passengers', 'Onboard_Total', 'Fatalities',
       'Aircaft_First_Flight', 'Aircraft_Phase', 'Departure_Airport',
       'Destination_Airport', 'Ground_Casualties', 'Collision_Casualties',
       'Day_of_Week', 'Year', 'Month', 'Day', 'Incident_Gen_Category',
       'Incident_Detail_Category', 'Aircraft_Debut_Year', 'Aircraft_Age_2024',
       'Aircraft_AgeAtIncident'],
      dtype='object')

In [135]:
# now for the onboard numbers. Let's have a look again at how they're set up

df_clean[['Onboard_Crew', 'Onboard_Passengers', 'Onboard_Total', 'Fatalities']]

,Onboard_Crew,Onboard_Passengers,Onboard_Total,Fatalities
0,Fatalities: 0 / Occupants: 3,Fatalities: 0 / Occupants: 4,Fatalities: 0 / Occupants: 7,0
1,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants: 116,0
2,Fatalities: 0 / Occupants: 8,Fatalities: 0 / Occupants: 0,Fatalities: 0 / Occupants: 8,0
3,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,0
4,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,0
...,...,...,...,...
5740,Fatalities: 2 / Occupants: 2,Fatalities: 0 / Occupants: 0,Fatalities: 2 / Occupants: 2,2
5741,Fatalities: 2 / Occupants: 2,Fatalities: 5 / Occupants: 5,Fatalities: 7 / Occupants: 7,7
5742,Fatalities: 1 / Occupants: 2,Fatalities: 2 / Occupants: 3,Fatalities: 3 / Occupants: 5,3
5743,Fatalities: 1 / Occupants: 2,Fatalities: 0 / Occupants: 9,Fatalities: 1 / Occupants: 11,1
5744,Fatalities: 2 / Occupants: 2,Fatalities: 2 / Occupants: 13,Fatalities: 4 / Occupants: 15,4

In [169]:
# we want to split into onboard_crewX, fatalities_crewX, onboard_passengers, fatalities_crew, onboard_total, fatalities_total
# could take it further later to look at survival rate/percent fatalities

# split on the / then trim the text
df_clean[['Crew_Fatalities','Crew_Onboard']] = df_clean['Onboard_Crew'].str.split('/', n=1, expand = True)

In [170]:
df_clean[['Crew_Fatalities','Crew_Onboard']]

     Crew_Fatalities   Crew_Onboard
0     Fatalities: 0    Occupants: 3
1     Fatalities: 0      Occupants:
2     Fatalities: 0    Occupants: 8
3     Fatalities: 0      Occupants:
4     Fatalities: 0      Occupants:
...              ...            ...
5740  Fatalities: 2    Occupants: 2
5741  Fatalities: 2    Occupants: 2
5742  Fatalities: 1    Occupants: 2
5743  Fatalities: 1    Occupants: 2
5744  Fatalities: 2    Occupants: 2

[5745 rows x 2 columns]

In [171]:
df_clean['Crew_Fatalities'] = df_clean['Crew_Fatalities'].str[-2]
df_clean['Crew_Onboard'] = df_clean['Crew_Onboard'].str[-1]
df_clean[['Crew_Fatalities','Crew_Onboard']]

     Crew_Fatalities Crew_Onboard
0                  0            3
1                  0            :
2                  0            8
3                  0            :
4                  0            :
...              ...          ...
5740               2            2
5741               2            2
5742               1            2
5743               1            2
5744               2            2

[5745 rows x 2 columns]

In [172]:
# split on the / then trim the text
df_clean[['Passengers_Fatalities','Passengers_Onboard']] = df_clean['Onboard_Passengers'].str.split('/', n=1, expand = True)
df_clean[['Passengers_Fatalities','Passengers_Onboard']]

     Passengers_Fatalities Passengers_Onboard
0           Fatalities: 0        Occupants: 4
1           Fatalities: 0          Occupants:
2           Fatalities: 0        Occupants: 0
3           Fatalities: 0          Occupants:
4           Fatalities: 0          Occupants:
...                    ...                ...
5740        Fatalities: 0        Occupants: 0
5741        Fatalities: 5        Occupants: 5
5742        Fatalities: 2        Occupants: 3
5743        Fatalities: 0        Occupants: 9
5744        Fatalities: 2       Occupants: 13

[5745 rows x 2 columns]

In [173]:
df_clean['Passengers_Fatalities'] = df_clean['Passengers_Fatalities'].str[-2]
df_clean['Passengers_Onboard'] = df_clean['Passengers_Onboard'].str[-1]
df_clean[['Passengers_Fatalities','Passengers_Onboard']]

     Passengers_Fatalities Passengers_Onboard
0                        0                  4
1                        0                  :
2                        0                  0
3                        0                  :
4                        0                  :
...                    ...                ...
5740                     0                  0
5741                     5                  5
5742                     2                  3
5743                     0                  9
5744                     2                  3

[5745 rows x 2 columns]

In [174]:
# split on the / then trim the text
df_clean[['Total_Fatalities','Total_Onboard']] = df_clean['Onboard_Total'].str.split('/', n=1, expand = True)
df_clean[['Total_Fatalities','Total_Onboard']]

     Total_Fatalities    Total_Onboard
0      Fatalities: 0      Occupants: 7
1      Fatalities: 0    Occupants: 116
2      Fatalities: 0      Occupants: 8
3      Fatalities: 0        Occupants:
4      Fatalities: 0        Occupants:
...               ...              ...
5740   Fatalities: 2      Occupants: 2
5741   Fatalities: 7      Occupants: 7
5742   Fatalities: 3      Occupants: 5
5743   Fatalities: 1     Occupants: 11
5744   Fatalities: 4     Occupants: 15

[5745 rows x 2 columns]

In [175]:
df_clean['Total_Fatalities'] = df_clean['Total_Fatalities'].str[-2]
df_clean['Total_Onboard'] = df_clean['Total_Onboard'].str[-1]
df_clean[['Total_Fatalities','Total_Onboard']]

     Total_Fatalities Total_Onboard
0                   0             7
1                   0             6
2                   0             8
3                   0             :
4                   0             :
...               ...           ...
5740                2             2
5741                7             7
5742                3             5
5743                1             1
5744                4             5

[5745 rows x 2 columns]

In [ ]:
# i have messed up. By taking -1 or -2 of the values, for multi digit values I'm missing the full number. e.g. 116 gets returned as 6
# need to find a better way to extract the numbers. Try getting the index of the :, take the number from there
# then trim spaces